/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
infra/ferramentas/nexus/data/tmp/
infra/ferramentas/nexus/data/log/
infra/ferramentas/gocd/godata/artifacts/pipelines/
infra/ferramentas/gocd/godata/logs/
infra/ferramentas/gocdagent/godata/logs/
